.paging {
  margin-bottom: 15px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  i {
    font-size: 2.5rem;
  }

  .page-info {
    font-size: 1.4rem;
    color: #888;
    padding-top: 1rem;
  }

  .disabled {
    background-color: #ccc !important;

    i {
      color: #999 !important;
    }
  }
}
