.side-nav {
  width: 240px;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 7px 10px 0 rgba(0, 0, 0, 0.12);

  .menu-list li {
    padding: 0;
    margin-left: -15px;

    a {
      height: 50px;
      line-height: 50px;
      color: #34495e !important;

      i {
        margin-left: 8px !important;
        font-size: 1.16rem;
        color: #34495e !important;
      }
    }
  }


  .mobile-head {
    padding: 0 15px;

    .logo-name {
      padding-left: 10px;
      font-size: 1.5rem;
      padding-bottom: 30px;
    }

    img {
      margin-top: 30px;
      width: 75px;
      height: 75px;
    }

    .logo-desc {
      margin-top: -10px;
      padding-left: 10px;
      padding-bottom: 10px;
      font-size: 0.8rem;
      line-height: 1.3rem;
      color: #e3e3e3;
    }
  }
}

header .side-nav .fa-fw {
  width: 3.3rem;
  text-align: left;
}

header .side-nav .social-link {
  position: absolute;
  bottom: 45px;
  padding-left: 15px;
}

.search {
  font-size: 1.2rem
}

.button-collapse {
  i {
    font-size: 1.5rem;
  }
}
